{% extends "../base.html" %}

{% block page %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <div class="align-items-center"> 
                <h1 class="ml-3">{{ track.name }}</h1>
            </div>
        </div>
        <div>
            <p class="text-muted"> <a href="/artist/{{track.music_group_id}}"> By: {{ track.music_group_name }}</p>
            <p class="ml-3"> <a href="/album/{{track.album_id}}">Album: {{ track.album_name }}</a></p>
        </div>
    </div>
    <div>
        {% if track.about %}
            <p>{{ track.about|safe }}</p>
        {% endif %}
    </div>
    {% if track.lyrics %}
    <div class="row">
        <div class="col-md-12">
            <h2>Lyrics:</h2>
        </div>
    </div>
    <div class="row">
        <pre>{{ track.lyrics | safe }}</pre>
    </div>
    {% endif %}
    {% if graph %}
        <div class="row">
            <div class="col-md-12">
                <h2>RDF:</h2>
            </div>
        </div>
        <div class="row" style="background-color: light-grey;">
            <pre><code style="color: white;">{{ graph | safe }}</code></pre>
        </div>
    {% endif %}
</div>

{% endblock page %}